/* html,
body {
	position: relative;
	width: 100%;
	height: 100%;
} */

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}
