/* html,
body {
	position: relative;
	width: 100%;
	height: 100%;
} */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 20px;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

button {
	outline: none;
}
