html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background-color: black;

	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* perspective: 840px; */
}

a {
	position: relative;
	color: inherit;
	z-index: 401 !important;
}

section {
	box-shadow: inset 0px 90px 50px -50px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: inset 0px 90px 50px -50px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0px 90px 50px -50px rgba(0, 0, 0, 0.35);
}

/* svg {
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
} */

video {
	content-visibility: auto;
}
